@{
    var package = (List<package>)TempData["package"];
}
<div class="container-fluid px-0">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox" id="carousel-caption">
            <div class="carousel-item active">
                <img src="~/auth/img/abcon.jpg" class="img-fluid" alt="First slide">
                <div class="carousel-caption">
                    <h1 class="display-2 text-white mb-4 animated slideInDown">Services</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Header End -->
<!-- Fact Start -->
<div class="container-fluid bg-secondary py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">99</h1>
                    <h5 class="text-white mt-1">Success in getting happy customer</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">25</h1>
                    <h5 class="text-white mt-1">Thousands of successful business</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">120</h1>
                    <h5 class="text-white mt-1">Total clients who love HighTech</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">5</h1>
                    <h5 class="text-white mt-1">Stars reviews given by satisfied clients</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->
<!-- Services Start -->
<div class="container-fluid services py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Services</h5>
            <h1>Availabe Packages</h1>
        </div>
        <div class="row g-5 services-inner">
            @if (package.Count > 0)
            {
                @foreach (var data in package)
                {
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <h2><b>@data.p_name</b></h2>
                                    <span><i class="fa-7x mb-4 text-primary">@data.p_dis%</i>off</span>
                                    <h4 class="mb-3">Price : @data.p_price$</h4>
                                    <p class="mb-4">The package will remain active for 10 days, and during this period, a discount equivalent to a certain percentage of the current charges for the package will be applied as part of the service.</p>
                                    <a onclick="openModal()" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Try Pro</a>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-md-12 col-lg-12 wow fadeIn" data-wow-delay=".3s">
                    <div class="services-item st12 bg-light">
                        <div class="text-danger text-center">No Packages Availabe</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Services End -->
