@model payment;
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var number = 1;
    var payment = (List<payment>)TempData["pay"];
}
<div class="breadcrumb-wrap mb-20">
    <div class="d-md-flex d-block justify-content-between align-items-center">
        <div class="left">
            <h1>Charge</h1>
        </div>
        <div class="right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><i class="bi bi-caret-right"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>

                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="col-xl-12 .col-lg-12">
    <div class="panel mb-10">
        <div class="panel-heading">
            <span>Create</span>
        </div>
        <div class="panel-body">
            <form class="row g-3" asp-action="payment" asp-controller="A_functionality">
                <div class="col-md-6">
                    <label asp-for="p_name" class="form-label">Payment Type</label>
                    <input asp-for="p_name" class="form-control" placeholder="Enter Payment Name" required>
                </div>

                <br><br>
                <div class="btn-box justify-content-end">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* view *@

<div class="col-xl-12 col-lg-12">
    <div class="panel mb-10">
        <div class="panel-heading">
            <span>View Packages</span>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Service Name</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in payment)
                        {
                            <tr>
                                <td>@(number++)</td>
                                <td>@c.p_name</td>
                                <td><a class="btn btn-danger text-white" href="#" onclick="confirmDelete('@c.p_id')">DELETE</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete(pay_id) {
        var result = confirm("Are you sure you want to delete this Payment Type?");
        if (result) {
            window.location.href = "/A_Functionality/del_pay/" + pay_id; // Redirect to the delete action
        }
    }
</script>