@model charge;
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="breadcrumb-wrap mb-20">
    <div class="d-md-flex d-block justify-content-between align-items-center">
        <div class="left">
            <h1>Charge Update</h1>
        </div>
        <div class="right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><i class="bi bi-caret-right"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">Update</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="col-xl-12 .col-lg-12">
    <div class="panel mb-10">
        <div class="panel-heading">
            <span>Create</span>
        </div>
        <div class="panel-body">
            <form class="row g-3" asp-action="upd_charge" asp-controller="A_functionality">
                <input type="hidden" value="@Model.c_id" asp-for="c_id"/>
                <div class="col-md-6">
                    <label asp-for="min_weight" class="form-label">Min Weight</label>
                    <input asp-for="min_weight" value="@Model.min_weight" min="0" max="500" class="form-control" placeholder="Min Weight in kg" required>
                </div>
                <div class="col-md-6">
                    <label asp-for="max_weight" class="form-label">Max Weight</label>
                    <input asp-for="max_weight" value="@Model.max_weight" min="0" max="500" class="form-control" placeholder="Max Weight in kg" required>
                </div>
                <div class="col-md-6">
                    <label asp-for="c_rate" class="form-label">Charges</label>
                    <input asp-for="c_rate" value="@Model.c_rate" min="0" class="form-control" placeholder="Insert Charges" required>
                </div>

                <br><br>
                <div class="btn-box justify-content-end">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
